html {
	font-family: "Segoe UI";
}

#page {
	background-color: #e9e9e9;
	display: flex;
	justify-content: center;
	height: 100%;
}

.dark #page{
	background-color: #000000;
	color:#ffffff;
}

#navbar{
	position: sticky;
	top: 0px;
}

#footer-container {
	width: 100%;
	background-color: white;
	position: sticky;
	bottom: 0px;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}
#footer-texts {
	text-align: center;
}
#menu {
	display: flex;
	justify-content: space-around;
	order : 1;
	margin-left: 20px;
	margin-right:20px;
	justify-content: space-between;
	width:800px;
}

#formulaire{
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;

}

.menu_item{
	padding:5px;

	border-radius: 12px;
	font-size: 12px;
}
.dark .menu_item {
	border:2px #ffffff solid;
}
.menu_item:hover {
	background-color: #000000;
	color:#999999;
}
.dark .menu_item:hover {
	background-color: #ffffff;
	color:#999999;
}
#filtres{
	display: flex;
	justify-content: left;
	width : 1100px;
}
#filtre{

	margin-left: 20px;
	margin-right: 20px;
}
#notes{
	border: 2px #000000 solid;
	margin-left: 20px;
	margin-right: 20px;
	padding:5px;
	border-radius: 12px;
}
.dark #notes{
	border: 2px #ffffff solid;
}



#prix{
	border: 2px #000000 solid;
	margin-left: 20px;
	margin-right: 20px;
	padding:5px;
	border-radius: 12px;
}
.dark #prix{
	border: 2px #ffffff solid;
}
#frontbar{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
#logo_title {
	font-size: 25px;
	order:-1;
}

#logo_image {
	margin-top: 15px;
	order:0;
	margin-left: 15px;

}
#logo_restaurinaux {
	order: 0;
	display: flex;
	align-items: center;
}

#mode_nuit {
	order: 2;
}

#frontbar {
	align-items: center;
}
#mapbx {
	display:flex;
	justify-content: right;
}
.mediumbar {
	display: flex;
}
#thefourth {
}

#review-content {
	background-color: #dcdcdc;
	width: 80%;
	padding: 40px 20px;
	box-shadow: 0px 0px 35px #b2b2b2;
}

#review-content .description{
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 25px;
}

#review-content .picture img{
	object-fit: cover;
	height: 300px;
	box-shadow: 0px 0px 35px #424242;
}

#review-content .annuler{
	margin-right: 20px
}

#page-content {
	width: 80%;
	background-color: #dcdcdc;
}

#page-search {
	padding: 20px;
}

#page-list {
	display: grid;
	gap: 40px 20px;
	padding: 40px 20px;
	grid-template-columns: repeat(auto-fit, 300px);
	justify-content: space-evenly;
	align-content: center;
	box-shadow: 0px 15px 35px #b2b2b2;
}

.sheet{
	border: 2px #000000 solid;
	width: 300px;
	align-self: center;
}



.sheet1{
	margin: 20px 20px 20px 20px;
	border: 2px #000000 solid;
	width: 300px;
}
.dark .sheet {
	border: 2px #ffffff solid;

}

.picture{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

#page-list .picture img{
	width:80%;
	object-fit: cover;
	height: 200px;
}

.description{
	text-align: center;
}


.checked {
	color: orange;
}

#filtres-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.mediumbar {
	display: flex;
	justify-content: center;

}
